header {
    padding: 60px;
    text-align: center;
    //background: #1abc9c;
    font-size: 30px;
}

.heading {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #fff;
    margin: 20px 0 12px;
}

.subHeading {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}

body {
    background-image: url(http://iridium-content.s3.amazonaws.com/images/talks/kai-fu-lee-talks.png), linear-gradient(to right, #a951ed, #ffa234);
}

.submitBtn {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    letter-spacing: 0.6px;
    border-radius: 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    background: #60B91F;
    box-shadow: 0 2px 3px 0 rgba(#000, 0.12), inset 0 0 0 0 rgba(#fff, 0.10);
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
    outline-color: none;
}

.submitBtn:hover {
    background: rgba(#60B91F, 0.85);
}

.inputBox {
    height: 40px;
    border-radius: 10px;
    border: 1px solid #d7d7d7;
    font-size: 16px;
    font-weight: 500;
}

//phone
@media only screen and (max-width: 715px) {}

// tablet
@media only screen and (max-width: 990px) {}

// desktop
@media only screen and (min-width: 901px) {}